<nav class="navbar has-background-primary-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/']">
      <img src="assets/img/pangolin.png" height="120">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div  id="navbarBasicExample" class="navbar-menu">


    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a *ngIf="!isLoggedIn" [routerLink]="['/register']" class="button is-primary is-small">
            <strong>S'inscrire</strong>
          </a>
          <a *ngIf="!isLoggedIn" [routerLink]="['/login']" class="button is-light is-small">
            Se connecter
          </a>
          <a *ngIf="isLoggedIn" (click) = "logout()" class="button is-danger is-small">
            Se déconnecter
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>


