<div class="container is-max-desktop mt-6 p-5">
  <h1 class="has-text-centered is-size-1 ">
   Veuillez choisir un rôle
  </h1>

  <hr>

  <form class="form m-6" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">Rôle</label>
      <div class="control">
        <div class="select">
          <select formControlName="role">
            <option *ngFor="let r of roles" [ngValue]="r" >{{ r }}</option>
          </select>
        </div>
      </div>

    </div>

    <div class="field is-grouped">
      <div class="control">
        <button type="submit" class="button is-link">Sauvegarder</button>
      </div>
      <div class="control">
        <button class="button is-link is-light" (click)="onReset()">Annuler</button>
      </div>
    </div>

  </form>
</div>


